{% extends 'base/main.html' %}

{% block content %}

<div>
    <h1>Cursos</h1>
    <div>
        <h4>{{cursos_count}} cursos en el grado</h4>
        <a href="{% url 'crear-curso' %}">Crear curso</a>
        <div>
            {% for curso in cursos %}
                <div>
                    <h3><a href="/curso/{{curso.id}}">{{curso.nombre_curso}}</a></h3>
                    <a href="{% url 'actualizar-curso' curso.id %}">Actualizar curso</a>   
                    <a href="{% url 'eliminar-curso' curso.id %}">Eliminar curso</a>           
                    <!-- <h3>{{curso.id}} -- <a href="{% url 'curso' curso.id %}">{{curso.nombre_curso}}</a></h3> -->
                </div>
            {% empty %}
                No existe aún ningún curso añadido.
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}